/* PC */
@media (min-width: 64em) {

}

/* Tablet and Mobile */
@media (max-width: 64em) {
    #nav .subnav a {
        padding: 5px 12px;
    }

    .btn {
        padding: 20px;
        font-size: 16px;
    }

    .contact-form .form-input {
        padding: 15px 10px;
        font-size: 16px;
    }

    .contact-info {
        line-height: 2.0;
    }

    #footer .coppy-right a {
        display: inline-block;
        padding: 8px 0;
    }

}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 64) {
    
}

/* Mobile */
@media (max-width: 46.25em) {

    .mobi-full {
        width: 100%;
    }

    .mobi-col-1 {
        width: 100%;
    }

    .mobi-mt-16 {
        margin-top: 16px;
    }

    .mobi-mt-8 {
        margin-top: 8px;
    }

    #nav {
        display: block;
    }

    #nav > li {
        display: block;
    }

    #nav li a {
        padding: 1px 24px;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial; 
        background-color: #000;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 40px;
    }

    #header {
        overflow: hidden;
    }

    #header .search-btn {
        display: none;
    }

    #header .menu-btn {
        display: block;
    }

    #content .member-img {
        width: 60%;
    }

    .contact-form {
        margin-top: 32px !important;
    }

}